/* begin Page */
/* Created by Artisteer v3.0.0.32906 */

#art-main, table
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

body
{
  margin: 0 auto;
  padding: 0;
  color: #383838;
  background-color: #FFFFFF;
  background-image: url('images/Bottom_texture.jpg');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: top left;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: justify;
}

.art-postcontent p
{
    margin: 12px 0 12px 0;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 32px;
}

.art-postcontent a
{
  text-decoration: none;
  color: #C70000;
}

.art-postcontent a:link
{
  text-decoration: none;
  color: #C70000;
}

.art-postcontent a:visited, .art-postcontent a.visited
{

  color: #C70000;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{

  text-decoration: underline;
  color: #EB0000;
}


.art-postcontent h1
{
   margin: 21px 0 21px 0; 
   color: #383838;
 
}

.art-postcontent h2
{
    color: #383838;
   margin: 19px 0 19px 0; 
   font-size: 24px;   
}

.art-postcontent h3
{
   margin: 19px 0 19px 0; 
  color: #383838; 
  font-size: 19px;    
}

.art-postcontent h4
{
   margin: 20px 0 20px 0; 
   color: #383838; 
   font-size: 16px;   
}

.art-postcontent h5
{
   margin: 26px 0 26px 0; 
   color: #383838;   
   font-size: 13px;
}

.art-postcontent h6
{
   margin: 35px 0 35px 0; 
   color: #000000;
   font-size: 11px;      
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

#art-main
{
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
}

#art-page-background-glare
{
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-attachment: fixed;
}

#art-page-background-glare-image
{
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-attachment: fixed;
  background-image: url('images/page_gl.png');
  background-repeat: no-repeat;
  background-position: top left;
}

html:first-child #art-page-background-glare
{
  border: 1px solid transparent;/* Opera fix */
}



.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1px;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.art-sheet
{
  position: relative;
  margin: 0 auto;
  min-width: 25px;
  min-height: 25px;
}

.art-sheet-body
{
  position: relative;
  padding: 4px;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl, .art-sheet-tc, .art-sheet-bc,.art-sheet-cr, .art-sheet-cl
{
  position: absolute;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl
{
  width: 36px;
  height: 36px;
  background-image: url('images/sheet_s.png');
}

.art-sheet-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 18px, 18px, auto);
}

.art-sheet-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 18px, 18px);
}

.art-sheet-bl
{
  bottom: 0;
  left: 0;
  clip: rect(18px, 18px, auto, auto);
}

.art-sheet-br
{
  bottom: 0;
  right: 0;
  clip: rect(18px, auto, auto, 18px);
}

.art-sheet-tc, .art-sheet-bc
{
  left: 18px;
  right: 18px;
  height: 36px;
  background-image: url('images/sheet_h.png');
}

.art-sheet-tc
{
  top: 0;
  clip: rect(auto, auto, 18px, auto);
}

.art-sheet-bc
{
  bottom: 0;
  clip: rect(18px, auto, auto, auto);
}

.art-sheet-cr, .art-sheet-cl
{
  top: 18px;
  bottom: 18px;
  width: 36px;
  background-image: url('images/sheet_v.png');
}

.art-sheet-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 18px);
}

.art-sheet-cl
{
  left: 0;
  clip: rect(auto, 18px, auto, auto);
}

.art-sheet-cc
{
  position: absolute;
  top: 18px;
  left: 18px;
  right: 18px;
  bottom: 18px;
  background-color: #F9FAFB;
}

.art-sheet
{
  top: -4px !important;
  margin-bottom: -4px !important;
  cursor:auto;
  width: 1000px;
}


/* end Box, Sheet */

/* begin Header */
div.art-header
{
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}


div.art-header-center
{
	position: relative;
	width: 992px;
	left:50%;
}



div.art-header-jpeg
{
  position: absolute;
  top: 0;
  left:-50%;
  width: 992px;
  height: 250px;
  background-image: url('images/header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

/* end Header */

/* begin Logo */
div.art-logo
{
  display: block;
  position: absolute;
  left: 10px;
  top: 20px;
  width: 500px;
}

h1.art-logo-name
{
  display: block;
  text-align: {HorizontalAlign};
}

h1.art-logo-name, h1.art-logo-name a, h1.art-logo-name a:link, h1.art-logo-name a:visited, h1.art-logo-name a:hover
{
  font-size: 28px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: {NameFontColor} !important;
}


h2.art-logo-text, 
h2.art-logo-text a,
h2.art-logo-text a:link,
h2.art-logo-text a:visited,
h2.art-logo-text a:hover
{
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: {TextFontColor} !important;
}

h2.art-logo-text
{
  display: block;
  text-align: {HorizontalAlign};
}
/* end Logo */

/* begin Menu */
/* menu structure */

.art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
    outline: none;
}

.art-menu, .art-menu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.art-menu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background: none;
}

.art-menu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.art-menu li li
{
  float: none;
}

.art-menu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background: none;
}

.art-menu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.art-menu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.art-menu:after, .art-menu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.art-menu, .art-menu ul
{
  min-height: 0;
}

.art-menu ul
{
  background-image: url('images/spacer.gif');
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.art-menu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}




/* menu structure */

.art-menu
{
  padding: 0 0 0 0;
}

.art-nav
{
  position: relative;
  min-height: 31px;
  z-index: 100;
}

.art-nav .l, .art-nav .r
{
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
  background-image: url('images/nav.png');
}

.art-nav .l
{
  left: 0;
  right: 0;
}

.art-nav .r
{
  right: 0;
  width: 992px;
  clip: rect(auto, auto, auto, 992px);
}


/* end Menu */

/* begin MenuItem */
.art-menu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 31px;
  cursor: pointer;
  text-decoration: none;
}


.art-menu ul li
{
    margin:0;
    clear: both;
}


.art-menu a .r, .art-menu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 103px;
  background-image: url('images/menuitem.png');
}

.art-menu a .l
{
  left: 0;
  right: 0;
}

.art-menu a .r
{
  width: 400px;
  right: 0;
  clip: rect(auto, auto, auto, 400px);
}

.art-menu a .t, .art-menu ul a, .art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
  font-size: 14px;
  text-align: left;
  text-decoration: none;
}

.art-menu a .t
{
  color: #EFF2F5;
  padding: 0 17px;
  margin: 0 0;
  line-height: 31px;
  text-align: center;
}

.art-menu a:hover .l, .art-menu a:hover .r
{
  top: -36px;
}

.art-menu li:hover>a .l, .art-menu li:hover>a .r
{
  top: -36px;
}

.art-menu li:hover a .l, .art-menu li:hover a .r
{
  top: -36px;
}
.art-menu a:hover .t
{
  color: #EDEDED;
}

.art-menu li:hover a .t
{
  color: #EDEDED;
}

.art-menu li:hover>a .t
{
  color: #EDEDED;
}

/* end MenuItem */

/* begin MenuSeparator */
.art-menu .art-menu-li-separator
{
  display: block;
  width: 2px;
  height:31px;
}
.art-nav .art-menu-separator
{
  display: block;
  margin:0 auto;
  width: 2px;
  height: 31px;
  background-image: url('images/menuseparator.png');
}
/* end MenuSeparator */

/* begin MenuSubItem */
.art-menu ul a
{
  display: block;
  text-align: center;
  white-space: nowrap;
  height: 20px;
  width: 180px;
  overflow: hidden;
  line-height: 20px;
  background-image: url('images/subitem.png');
  background-position: left top;
  background-repeat: repeat-x;
  border-width: 1px;
  border-style: solid;
  border-color: #C70000;
}

.art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

.art-menu ul a, .art-menu ul a:link, .art-menu ul a:visited, .art-menu ul a:hover, .art-menu ul a:active, .art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 20px;
  color: #F9FAFB;
  font-size: 12px;
  margin:0;
  padding:0;
}

.art-menu ul li a:hover
{
  color: #000000;
  border-color: #EB0000;
  background-position: 0 -20px;
}

.art-menu ul li:hover>a
{
  color: #000000;
  border-color: #EB0000;
  background-position: 0 -20px;
}

.art-nav .art-menu ul li a:hover span, .art-nav .art-menu ul li a:hover span span
{
  color: #000000;
}

.art-nav .art-menu ul li:hover>a span, .art-nav .art-menu ul li:hover>a span span
{
  color: #000000;
}


/* end MenuSubItem */

/* begin Layout */
.art-content-layout
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
}
.art-layout-cell, .art-content-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none !important;
  margin:0 !important;
  padding:0 !important;
}
.art-content-layout .art-content-layout{width: auto;margin:0;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell{display: table-cell;}
.art-layout-cell .art-layout-cell{display: block;}
.art-content-layout-row {display: table-row;}
.art-layout-glare{position:relative;}/* end Layout */

/* begin Button */
.art-button-wrapper a.art-button,
.art-button-wrapper a.art-button:link,
.art-button-wrapper input.art-button,
.art-button-wrapper button.art-button
{
  text-decoration: none;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  position:relative;
  top:0;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #FFFFFF !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 32px;
  height: 32px;
  margin: 0 !important;
  padding: 0 16px !important;
  overflow: visible;
  cursor: default;
}

.art-button img, .art-button-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.art-button-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 32px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.firefox2 .art-button-wrapper
{
  display: block;
  float: left;
}

input, select, textarea
{
  vertical-align: middle;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
}

.art-block select 
{
    width:96%;
}

.art-button-wrapper.hover .art-button, .art-button-wrapper.hover a.art-button:link, .art-button:hover
{
  color: #FFFCFA !important;
  text-decoration: none !important;
}

.art-button-wrapper.active .art-button, .art-button-wrapper.active a.art-button:link
{
  color: #EB0000 !important;
}

.art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
  display: block;
  position: absolute;
  height: 106px;
  margin: 0;
  padding: 0;
  background-image: url('images/button.png');
}

.art-button-wrapper .art-button-l
{
  left: 0;
  right: 9px;
}

.art-button-wrapper .art-button-r
{
  width: 407px;
  right: 0;
  clip: rect(auto, auto, auto, 398px);
}

.art-button-wrapper.hover .art-button-l, .art-button-wrapper.hover .art-button-r
{
  top: -37px;
}

.art-button-wrapper.active .art-button-l, .art-button-wrapper.active .art-button-r
{
  top: -74px;
}

.art-button-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Block */
.art-block
{
  position: relative;
  margin: 0 auto;
  min-width: 15px;
  min-height: 15px;
}

.art-block-body
{
  position: relative;
  padding: 8px;
}

.art-block-tr, .art-block-tl, .art-block-br, .art-block-bl, .art-block-tc, .art-block-bc,.art-block-cr, .art-block-cl
{
  position: absolute;
}

.art-block-tr, .art-block-tl, .art-block-br, .art-block-bl
{
  width: 14px;
  height: 14px;
  background-image: url('images/block_s.png');
}

.art-block-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 7px, 7px, auto);
}

.art-block-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 7px, 7px);
}

.art-block-bl
{
  bottom: 0;
  left: 0;
  clip: rect(7px, 7px, auto, auto);
}

.art-block-br
{
  bottom: 0;
  right: 0;
  clip: rect(7px, auto, auto, 7px);
}

.art-block-tc, .art-block-bc
{
  left: 7px;
  right: 7px;
  height: 14px;
  background-image: url('images/block_h.png');
}

.art-block-tc
{
  top: 0;
  clip: rect(auto, auto, 7px, auto);
}

.art-block-bc
{
  bottom: 0;
  clip: rect(7px, auto, auto, auto);
}

.art-block-cr, .art-block-cl
{
  top: 7px;
  bottom: 7px;
  width: 14px;
  background-image: url('images/block_v.png');
}

.art-block-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 7px);
}

.art-block-cl
{
  left: 0;
  clip: rect(auto, 7px, auto, auto);
}

.art-block-cc
{
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  background-color: #F9FAFB;
}

.art-block
{
  margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-blockheader
{
  margin-bottom: 0;
}

.art-blockheader, .art-blockheader h3.t
{
  position: relative;
  height: 26px;
}

.art-blockheader h3.t,
.art-blockheader h3.t a,
.art-blockheader h3.t a:link,
.art-blockheader h3.t a:visited, 
.art-blockheader h3.t a:hover
{
  color: #FFFFFF;
  font-size: 14px;
}

.art-blockheader h3.t
{
  margin:0;
  padding: 0 10px 0 5px;
  white-space: nowrap;
  line-height: 26px;	
}

.art-blockheader .l, .art-blockheader .r
{
  position: absolute;
  height: 26px;
  background-image: url('images/blockheader.png');
}

.art-blockheader .l
{
  left: 0;
  right: 6px;
}

.art-blockheader .r
{
  width: 992px;
  right: 0;
  clip: rect(auto, auto, auto, 986px);
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-blockcontent-body
{
  position: relative;
  padding: 5px;
}


.art-blockcontent-body, 
.art-blockcontent-body li, 
.art-blockcontent-body a,
.art-blockcontent-body a:link,
.art-blockcontent-body a:visited,
.art-blockcontent-body a:hover
{
  color: #383838;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  text-align: justify;
}

.art-blockcontent-body p
{
  margin: 6px 0 6px 0;
}

.art-blockcontent-body a
{
  color: #B80000;

}

.art-blockcontent-body a:link
{
  color: #B80000;

}

.art-blockcontent-body a:visited, .art-blockcontent-body a.visited
{
  color: #B80000;
  text-decoration: none;
}

.art-blockcontent-body a:hover, .art-blockcontent-body a.hover
{
  color: #EB0000;
  text-decoration: none;

}

.art-blockcontent-body ul li
{
  line-height: 125%;    
  color: #3D5266;

  padding: 0 0 0 11px;
  background-image: url('images/blockcontentbullets.png');
  background-repeat: no-repeat;
}/* end Box, BlockContent */

/* begin Box, Post */
.art-post
{
  position: relative;
  margin: 0 auto;
  min-width: 31px;
  min-height: 31px;
}

.art-post-body
{
  position: relative;
  padding: 14px;
}

.art-post-tr, .art-post-tl, .art-post-br, .art-post-bl, .art-post-tc, .art-post-bc,.art-post-cr, .art-post-cl
{
  position: absolute;
}

.art-post-tr, .art-post-tl, .art-post-br, .art-post-bl
{
  width: 42px;
  height: 42px;
  background-image: url('images/post_s.png');
}

.art-post-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 21px, 21px, auto);
}

.art-post-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 21px, 21px);
}

.art-post-bl
{
  bottom: 0;
  left: 0;
  clip: rect(21px, 21px, auto, auto);
}

.art-post-br
{
  bottom: 0;
  right: 0;
  clip: rect(21px, auto, auto, 21px);
}

.art-post-tc, .art-post-bc
{
  left: 21px;
  right: 21px;
  height: 42px;
  background-image: url('images/post_h.png');
}

.art-post-tc
{
  top: 0;
  clip: rect(auto, auto, 21px, auto);
}

.art-post-bc
{
  bottom: 0;
  clip: rect(21px, auto, auto, auto);
}

.art-post-cr, .art-post-cl
{
  top: 21px;
  bottom: 21px;
  width: 42px;
  background-image: url('images/post_v.png');
}

.art-post-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 21px);
}

.art-post-cl
{
  left: 0;
  clip: rect(auto, 21px, auto, auto);
}

.art-post-cc
{
  position: absolute;
  top: 21px;
  left: 21px;
  right: 21px;
  bottom: 21px;
  background-color: #F9FAFB;
}

.art-post
{
  margin: 5px;
}

a img
{
  border: 0;
}

.art-article img, img.art-article
{
  border: solid 0 #B2C2D1;
  margin: 7px;
}

.art-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.art-article table, table.art-article
{
  border-collapse: collapse;
  margin: 1px;
}

.art-article th, .art-article td
{
  padding: 2px;
  border: solid 1px #383838;
  vertical-align: top;
  text-align: left;
}

.art-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
  float:left;
}

/* end Box, Post */

/* begin PostHeaderIcon */
h2.art-postheader
{
  color: #383838;
  margin: 5px 0 5px 0;
}

h2.art-postheader, 
h2.art-postheader a, 
h2.art-postheader a:link, 
h2.art-postheader a:visited,
h2.art-postheader a.visited,
h2.art-postheader a:hover,
h2.art-postheader a.hovered
{
  font-size: 24px;
}

h2.art-postheader a, h2.art-postheader a:link
{
  text-align: left;
  text-decoration: none;
  color: #B80000;
}

h2.art-postheader a:visited, h2.art-postheader a.visited
{

  color: #B80000;
}


h2.art-postheader a:hover,  h2.art-postheader a.hovered
{


  color: #EB0000;
}

h2.art-postheader img
{
  border: none !important;
  vertical-align: middle;
  margin: 0 5px 0 0;
}
/* end PostHeaderIcon */

/* begin PostBullets */
.art-post ol, .art-post ul
{
  margin: 1em 0 1em 2em;
  padding: 0;
}

.art-post li
{
  font-size: 13px;
}

.art-post li ol, .art-post li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

.art-post li
{
  color: #2E3D4C; 

  padding: 0;
}


/* end PostBullets */

/* begin PostQuote */
.art-postcontent blockquote,
.art-postcontent blockquote a,
.art-postcontent blockquote a:link,
.art-postcontent blockquote a:visited,
.art-postcontent blockquote a:hover
{
  color: #280E01;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}

.art-postcontent blockquote p
{
   margin: 2px 0 2px 15px;
}

.art-postcontent blockquote
{
   border: solid 0 #FC9764;
  margin: 10px 10px 10px 50px;
  padding: 0 0 0 28px;
  background-color: #F9FAFB;
  background-image: url('images/postquote.png');
  background-position: left top;
  background-repeat: no-repeat;/* makes blockquote not to align behind the image if they are in the same line */
  overflow: auto;
}

/* end PostQuote */

/* begin Footer */
.art-footer
{
  position: relative;
  overflow: hidden;
  width: 100%;
}

.art-footer-b 
{
  position: absolute;
  left:5px;
  right:5px;
  bottom:0;
  height:5px;
  background-image: url('images/footer_b.png');
}

.art-footer-r, .art-footer-l
{
  position: absolute;
  height:5px;
  background-image: url('images/footer_s.png');
  bottom: 0;
}

.art-footer-l
{
  left: 0;
  width:5px;
}

.art-footer-r
{
  right: 0;
  width:10px;
  clip: rect(auto, auto, auto, 5px);
}

.art-footer-t
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5px;
  background-color: #F9FAFB;
}

.art-footer-body
{
    position:relative;
    padding: 5px;
}


.art-footer-text p
{
  padding:0;
  margin:0;
}

.art-footer,
.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover
{
    color: #383838;
    font-size: 11px;
}

.art-footer-text
{
  padding: 0 10px 0 10px;

}

.art-footer,
.art-footer-text,
.art-footer p
{
  text-align: center;
}

.art-footer a,
.art-footer a:link
{
  color: #B80000;
  text-decoration: none;
}

.art-footer a:visited
{
  color: #B80000;

}

.art-footer a:hover
{
  color: #EB0000;

  text-decoration: underline;
}
/* end Footer */

/* begin PageFooter */
.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #5096BE;
}

.art-page-footer
{
  margin: 1em;
  text-align: center;
  text-decoration: none;
  color: #435970;
}
/* end PageFooter */

/* begin LayoutCell, content */




/* end LayoutCell, content */

/* begin LayoutCell, sidebar1 */

.art-content-layout .art-sidebar1
{
  width: 300px;
}

/* end LayoutCell, sidebar1 */




.overview-table .art-layout-cell
{
    width:33%;
}


.overview-table-inner 
{
    margin:10px;
}

table.table
{
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
    text-align:left;
    vertical-align:top;
}

table.table, table.table tr, table.table td
{
    border:none;
    margin:0;
    padding:0;
    background-color:Transparent;
}

img.image
{
    margin:0;
    padding:0;
    border:none;
}


